@use "../../styles/partials/" as *;

.queue {
  width: 100%;
  margin: 0 auto;

  @include media-tablet {
    width: 80%;
  }

  &__title {
    @include body-large;
    font-weight: 600;
    margin-bottom: 0.4rem;
  }

  &__hold-text {
    @include body-large;
    text-align: center;
  }
}
