@use "sass:color";
// Colors

// Primary colors.
$primary-color-dark: #13182c;
$primary-color-light: #ffffff;
$primary-color-brand: #5391e2;
$primary-color-cta: #2c59d6;

// Secondary colors.
$secondary-color-dark: #5c667e;
$secondary-color-light: #bdc5d5;
$secondary-color-brand: #f08800;

// Background colors.
$background-color: #fafafa;
