@use "./styles/partials/" as *;
@use "./styles/component-mixins/" as *;

.app {
  @include flex(initial, initial, initial, column);
  min-height: 100vh;

  &__main {
    @include flex(center, center, initial, column);
    flex-grow: 1;
    background: linear-gradient($primary-color-brand 15%, $background-color 96%);
  }
}

.styled-button-brand {
  @include brand-button;
}

.styled-button-light {
  @include light-button;
}

.styled-button-action {
  @include action-button;
}

.styled-container {
  margin-bottom: 10vh;
  padding: 6rem 1.6rem;
  border-radius: 6px;
  background-color: transparent;
}
