@use "./styles/partials/" as *;
@use "./styles/component-mixins/" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // Equates 1rem with 10px.
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  // Explicity sets typeface to match site style as default.
  @include body-medium;
}

a {
  // Removes default anchor styling.
  text-decoration: none;
  color: inherit;
}

.app {
  @include flex(initial, initial, initial, column);
  min-height: 100vh;

  &__main {
    @include flex(center, center, initial, column);
    flex-grow: 1;
    background: linear-gradient($primary-color-brand 15%, $background-color 96%);
    position: relative;
    top: -1px;
  }
}

.styled-button-brand {
  @include brand-button;
}

.styled-button-light {
  @include light-button;
}

.styled-button-action {
  @include action-button;
}

.styled-container {
  padding: 1.6rem;
  border-radius: 6px;
  background-color: transparent;
}
